body {
	text-align: center;
	margin: 0;
}
* {
	border-radius: 25px;
	color: white;
	border: none;
	margin: 2px;
}
h1 {
	background-color: orange;
}

form {
	width: 50%;
	margin-left: 25%;
	box-shadow: 3px 3px 2px 2px black;
	background-color: rgba(125,125,125,0.5);
}


input {
	padding-left: 1%;
	padding-right: 1%;
	background-color: rgba(125,125,125,0.66);
}